<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>JSP Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
        <link href="https://code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css" />
    </head>
    <script>
        var model = null;
        var dlgmodel = null;
        $(document).ready(function () {
            dlgmodel = new Vue({
                el: "#dlg",
                data: {
                    id: "",
                    name: "",
                    score: ""
                }
            });
            $.ajax("allscore", {
                success: function (data) {
                    console.log(data);
                    model = new Vue({
                        el: "#app",
                        data: {
                            students: data
                        }, methods: {
                            deleteLogin: function (i) {
                                $.ajax("allscore?id=" + model.students[i].id, {
                                    type: "DELETE",
                                    success: function (d) {
                                        model.students.splice(i, 1);
                                    }
                                });
                            },
                            editLogin: function (d) {
                                dlgmodel.id = d.id;
                                dlgmodel.name = d.name;
                                dlgmodel.score = d.score;
                                $("#dlg").dialog({
                                    modal: true,
                                    buttons: [
                                        {
                                            text: "OK",
                                            click: function () {
                                                $.ajax("allscore?id="+ dlgmodel.id+",name="+ dlgmodel.name+",score="+ dlgmodel.score, {
                                                    type: "PUT",
                                                    success:function(o){
                                                        d.id= dlgmodel.id;
                                                        d.name= dlgmodel.name;
                                                        d.score= dlgmodel.score;
                                                    }
                                                });
                                                $(this).dialog("close");
                                            }
                                        }
                                    ]
                                });

                            }
                        }
                    });
                }
            });
        });
        function addLogin() {
            dlgmodel.id = "";
            dlgmodel.name = "";
            dlgmodel.score = "";
            $("#dlg").dialog({
                model: true,
                buttons: [
                    {
                        text: "OK",
                        click: function () {
                            $.ajax("allscore", {
                                type: "POST",
                                data: {
                                    id: dlgmodel.id,
                                    name: dlgmodel.name,
                                    score: dlgmodel.score
                                }, success: function (d) {
                                    model.students.push({
                                        id: dlgmodel.id,
                                        name: dlgmodel.name,
                                        score: dlgmodel.score
                                    });
                                }
                            });
                        }
                    }
                ]
            });
        }
    </script>
    <body>
        <button onclick="addLogin();">New</button>
        <form method="POST" action="score">
            <input type="text"  name="id"/><input type="submit">
        </form>
        <table id="app" border="1">
            <thead>
                <tr>
                    <td>id</td>
                    <td>name</td>
                    <td>score</td>
                    <td>edit</td>
                    <td>delete</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(student,index) in students">
                    <td>{{student.id}}</td>
                    <td>{{student.name}}</td>
                    <td>{{student.score}}</td>
                    <td><button v-on:click="editLogin(student);">Edit</button></td>
                    <td><button v-on:click="deleteLogin(index);">Delete</button></td>
                </tr>
            </tbody>
        </table>
        <div id="dlg" style="display:none">
            id:<input type="text" v-model="id"/><br/>
            name<input type="text"v-model="name"/><br/>
            score<input type="text"v-model="score"/><br/>
        </div>
    </body>
</html>
